#navbar {
    background: linear-gradient(90deg, #3820FD 65.5%, #211397 100%);
    height: 123px;
    
}

#navbar .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar .col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

#navbar img {
    width: 250px;
    height: 250px;
}

form.d-flex {
    display: flex;
    justify-content: center;
}

.form-control {
    width: auto;
}

.btn-warning {
    background: linear-gradient(180deg, #FFCB00 0%, #D6AA00 100%);
    color: #211397;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
    color: #ffffff;
}
